INSTALL
Makefile
Makefile.in
Makecache
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
compile
install-sh
missing
stamp-h1
.autoconf/
*.announce
Module.symvers
modules.order
*~
*.patch
*.orig
*.rej
*.cmd
*.mod
*.mod.*
*.o
*.a
*.ko
*.tar.*
